@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/_reset\.scss}line{font-family:\000033}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/_reset\.scss}line{font-family:\0000324}}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/_reset\.scss}line{font-family:\0000329}}
ol, ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/_reset\.scss}line{font-family:\0000333}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/stylesheet\.sass}line{font-family:\000035}}
html {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #eeeeee; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/stylesheet\.sass}line{font-family:\0000313}}
body {
  width: 100%;
  min-height: 100%;
  position: absolute;
  height: 100%;
  max-height: 100%;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/_metrics\.sass}line{font-family:\000031}}
.full-width {
  display: block;
  width: 100%;
  float: none;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/_metrics\.sass}line{font-family:\000038}}
.half-width {
  display: inline-block;
  width: 50%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/_metrics\.sass}line{font-family:\0000314}}
.full-height {
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/_style\.sass}line{font-family:\000031}}
.title {
  font-size: 1.8em;
  font-weight: 700;
  height: 100%;
  color: #666666;
  text-shadow: 0 0 0.3em #bebebe; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/_style\.sass}line{font-family:\000038}}
.title small {
  padding-left: 1.4em;
  font-size: 0.6em;
  font-weight: 400;
  line-height: 0.1em;
  color: #666666; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/_style\.sass}line{font-family:\0000315}}
.header h1 {
  display: block;
  position: absolute;
  font-size: 5em;
  width: auto;
  left: 20%;
  right: 20%;
  height: auto;
  padding: 1em;
  color: #f7f7f7;
  background: none;
  text-align: center;
  z-index: 111; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/_style\.sass}line{font-family:\0000329}}
.card {
  position: absolute;
  z-index: 11 !important;
  display: block;
  left: 20%;
  right: 20%;
  bottom: 10em;
  width: auto;
  max-width: 85%;
  padding: 1em;
  background-color: #eeeeee;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/_style\.sass}line{font-family:\0000346}}
  .card p {
    color: #333333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/_style\.sass}line{font-family:\0000349}}
.card:after {
  position: absolute;
  bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/_style\.sass}line{font-family:\0000353}}
.watermark {
  position: absolute;
  bottom: 0.2em;
  left: 0.2em;
  font-size: 5em;
  z-index: -1 !important;
  text-shadow: 0 0 0.1em #111111;
  width: 10em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/_welcome\.scss}line{font-family:\000031}}
.welcome {
  display: block;
  position: relative;
  background: url("../images/back-news.png") top left no-repeat;
  background-size: cover;
  border: none;
  z-index: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/_welcome\.scss}line{font-family:\000039}}
.welcome:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(68, 134, 208, 0.6); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/krotovic\/Workspace\/krotovic\/lukas\/stylesheets\/_welcome\.scss}line{font-family:\0000319}}
.welcome > * {
  z-index: 10; }
